<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>593824582259-60ril9ee3bgfpb2tcj63l62cq94868nh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.593824582259-60ril9ee3bgfpb2tcj63l62cq94868nh</string>
	<key>API_KEY</key>
	<string>AIzaSyDJxvxMRDKKfy3viwILD2m1U7RgpkXxxoA</string>
	<key>GCM_SENDER_ID</key>
	<string>593824582259</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.bipp.pushNotification</string>
	<key>PROJECT_ID</key>
	<string>gdexample123</string>
	<key>STORAGE_BUCKET</key>
	<string>gdexample123.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:593824582259:ios:f77164bdbb5a5ea4457806</string>
</dict>
</plist>