<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>98240011556-ek7p0tbipfaujecgep706jtc66durl7k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.98240011556-ek7p0tbipfaujecgep706jtc66durl7k</string>
	<key>API_KEY</key>
	<string>AIzaSyAbSwEg-dqIvZp-ujM7SJAlnUcxHZh2aWc</string>
	<key>GCM_SENDER_ID</key>
	<string>98240011556</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Bipp.ImageUploadAndSaveToStorage</string>
	<key>PROJECT_ID</key>
	<string>storagedemo-4519e</string>
	<key>STORAGE_BUCKET</key>
	<string>storagedemo-4519e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:98240011556:ios:509914639192611dbb67b1</string>
</dict>
</plist>