<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>776177738743-9v42r6ti3l1uaej4umkb6uejms2kko75.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.776177738743-9v42r6ti3l1uaej4umkb6uejms2kko75</string>
	<key>API_KEY</key>
	<string>AIzaSyCBUg02KNbg878CtJleTxNjGZGPoNiaFFA</string>
	<key>GCM_SENDER_ID</key>
	<string>776177738743</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Bipp.ReviseGADemo</string>
	<key>PROJECT_ID</key>
	<string>revisegademo</string>
	<key>STORAGE_BUCKET</key>
	<string>revisegademo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:776177738743:ios:378056358990403dac04f2</string>
</dict>
</plist>