<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>621802477663-gu8m59bml3f7bu2arervsie7qhsi66nq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.621802477663-gu8m59bml3f7bu2arervsie7qhsi66nq</string>
	<key>API_KEY</key>
	<string>AIzaSyCgVychNOqYVCniagD7rZv62CEOOOgR9zE</string>
	<key>GCM_SENDER_ID</key>
	<string>621802477663</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Bipp.Project-Demo</string>
	<key>PROJECT_ID</key>
	<string>my-project-f330c</string>
	<key>STORAGE_BUCKET</key>
	<string>my-project-f330c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:621802477663:ios:8deb22bbcc6aeac17423ea</string>
</dict>
</plist>